/* EVENT LIST */
##home-events-tabs {
	position:relative;
}
#home-events-tabs .tabs {
	min-height: 200px;
}
#home-events-tabs .preloader {
	display:none;
}
#home-events-tabs.loading .preloader {
	position: absolute;
	top: 25%;
	left: 50%;
	margin: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	display:block;
}
#home-events-tabs.loading .tabs .list-block ul {
	display: none;
}